<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h5>Cards</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet elementum mi. Aliquam sed libero auctor, laoreet felis at, pharetra arcu. Curabitur eu tincidunt justo. Quisque tincidunt justo at dolor egestas commodo. Aliquam auctor, sapien vel mollis.</p>
    <div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h5>Example</h5>
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="snippet-box">
          <div class="snippet-content" style="max-height: CUSTOM-BOX-HEIGHT-VALUE">
            CONTENT GOES HERE
          </div>
          <div class="snippet-expander"></div>
        </div> -->
    </div>
  </div>
</div>
