<section class="content">
  <div class="row">
    <div class="col-md-12">
      <h5>Cards</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae purus eu ex pharetra pellentesque. Nulla in condimentum massa. Maecenas porttitor magna vel nulla euismod venenatis. Morbi sed erat dapibus, fringilla erat vel, tempus massa. Donec tempus enim ut egestas gravida.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h5 class="card-hdr">Example</h5>
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../assets/card-img.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
    </div>
  </div>
</section>
