/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Lato', sans-serif !important;
}

.col-md-3, .col-md-9, .container-fluid {
    margin: 0;
    padding: 0;
}